@using MvcOnlineTicariOtamasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div>


    <div style="float:left">
        <br />
        @using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
        {
            <p>
                Kargo Takip No: @Html.TextBox("p")
                <input type="submit" name="name" value="Ara" />
            </p>
        }
    </div>
    <div style="float:right">
        <br />
        <a href="/Kargo/YeniKargo" class="btn btn-info" style="width:150px">Yeni Kargo Girişi</a>

    </div>
</div>
<table class="table table-hover" style="margin-top:20px;">

    <tr>

        <th>Takip Kodu</th>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.takipKodu
            </td>
            <td>@k.Personel </td>
            <td>@k.Alici </td>
            <td>@k.Tarih </td>
            <td><a href="/Kargo/KargoTakip/@k.takipKodu" class="btn btn-default" style="background-color:lightcoral;color:white">Detaylar</a></td>
        </tr>


    }

</table>




