@model MvcOnlineTicariOtamasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "CariGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Cari Güncelleme Ekranı</h2>
<br />
@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.Cariid)
    @Html.LabelFor(x => x.CariAd)
    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariAd, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CariSoyad)
    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSoyad, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CariSehir)
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariSehir, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CariMail)
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariMail, "", new { @style = "color:red" })
    <br />
    <p>Cari No</p>
    @Html.TextBoxFor(x => x.CariNo, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariNo, "", new { @style = "color:red" })
    <br />
    <p>Cari Hakkında</p>
    @Html.TextBoxFor(x => x.CariAbout, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariAbout, "", new { @style = "color:red" })
    <br />
    <p>Cari Görsel</p>
    @Html.TextBoxFor(x => x.CariGorsel, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CariGorsel, "", new { @style = "color:red" })
    <br />
    <p>Cari Şifre</p>
    @Html.TextBoxFor(x => x.CarsiSifre, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CarsiSifre, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-default" style="background-color:yellowgreen">Güncelle </button>
</div>    
}
